* {
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 227);
}

.container {
  position: relative;
  margin-top: 2vh;
  width: 400px;
  height: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.nextOne {
  margin: 0px 50px 10px 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  border: black 4px double;
  position: relative;
}

.nextModel {
  height: 20px;
  width: 20px;
  border: 0.1px solid #333;
  box-sizing: border-box;
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 20px;
  border: black 4px double;
  padding: 3px 3px;
}

h3 {
  border-radius: 20px;
  margin-left: 20px;
}

h4 {
  padding: 10px;
  margin: 0;
}

.again {
  position: relative;
  background-color: rgb(191, 195, 197);
  border: none;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  height: 30px;
  /* text-align: center; */
  overflow: hidden;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
}

.pause {
  position: relative;
  background-color: rgb(191, 195, 197);
  border: none;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
}

.activeModel {
  width: 20px;
  height: 20px;
  background-color: aquamarine;
  border: 0.3px solid #333;
  box-sizing: border-box;
  position: absolute;
}

.fixedModel {
  width: 20px;
  height: 20px;
  background-color: #fefefe;
  border: 0.3px solid #333;
  box-sizing: border-box;
  position: absolute;
}
